/* ============================
   RESET / BASE
============================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #ffffff;
    color: #000000;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 0;
}

/* ============================
   CARD PRINCIPAL
============================ */
.admin-container {
    width: 450px;
    background: #ffffff;
    border: 2px solid #000000;
    padding: 30px;
    border-radius: 12px;
}

.admin-container h1 {
    font-size: 26px;
    text-align: center;
    margin-bottom: 25px;
    border-bottom: 2px solid #000000;
    padding-bottom: 18px;
}

/* ============================
   BOTÕES
============================ */
.admin-button {
    width: 100%;
    padding: 18px;
    margin-top: 32px;
    margin-bottom: 12px;


    background: #000000;
    color: #ffffff;

    border: 2px solid #000000;
    border-radius: 8px;

    font-size: 16px;
    cursor: pointer;

    transition: 0.25s ease-in-out;
}

.admin-button:hover {
    background: #ffffff;
    color: #000000;
}




/* ============================
   RODAPÉ
============================ */
.admin-footer {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
    opacity: 0.8;
}
